asgiref
dj-database-url
dj-rest-auth
Django
django-cors-headers
django-crispy-forms
crispy-bootstrap5
django-environ
django-filter
django-phone-field
django-solo
djangorestframework
gunicorn
python-decouple
psycopg2-binary
whitenoise
sqlparse
certifi